body {
  padding-top: 48px;
  padding-bottom: 20px;
}

a {
  color: #00f;
}
a:visited {
  color: #800080;
}

.navbar-brand {
  padding: 6px;
}
.navbar-text {
  margin-top: 12px;
  margin-bottom: 0;
}

.site-banner {
  padding: 0;
  margin: 0 0 1em 0;
  background-color: inherit;
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.site-banner .container {
  padding: 22px 0;
}
.site-banner h2 {
  font-size:30pt;
  line-height: 4px;
  text-transform: uppercase;
}
.site-banner h3 {
  font-size: 11pt;
  line-height: 30px;
  text-transform: uppercase;
}

.footer-links {
  list-style: none;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  margin: 0;
}
.footer-links li:after {
 content: '·';
 padding: 0 .5em;
}
.footer-links li.last:after {
 content: '';
 padding: 0;
}

.langlabel {
  display: none;
  margin-right:.5em;
}

.hr {
  background: #fff url(../images/hrule.png) no-repeat scroll center;
  height: 21px;
  margin-top: .5em;
}
.hr hr {
  display: none;
}

.required:after {
  content: ' *';
}

.pagination {
  margin: 0;
}

.form-inline .form-group,
.form-inline .checkbox {
  margin-right: .5em;
}

@media (min-width: 768px) {
  .dl-horizontal.wide dt {
    width: 220px;
  }
  .dl-horizontal.wide dd {
    margin-left: 240px;
  }
}

.panel-collapse > .table,
.panel-body > dl {
  margin-bottom: 0;
}

.panel-body > dl + .well {
  margin-top: 15px;
}

a.sortable {
  display:block;
  padding-right:10px;
  background-repeat: no-repeat;
  background-position: center right;
  color:inherit;
}
a.sortable.unsorted {
  background-image: url(data:image/gif;base64,R0lGODlhBwAJAIABACMtMP///yH5BAEKAAEALAAAAAAHAAkAAAINjGEJq8sOk4Qu0IZmKgA7);
}
a.sortable.sorted-asc {
  background-image: url(data:image/gif;base64,R0lGODlhBwAEAIABACMtMP///yH5BAEKAAEALAAAAAAHAAQAAAIHjGEJq8sOCwA7);
}
a.sortable.sorted-desc {
  background-image: url(data:image/gif;base64,R0lGODlhBwAEAIABACMtMP///yH5BAEKAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw==);
}

.minority-badge {
  background-color: firebrick;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  padding: 3px;
}
