{% extends "review/base.html" %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-reports'|message }}</li>
  <li>{{ 'by-language-group'|message }}</li>
</ol>

<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>{{ 'review-communities-size'|message }}</th>
    <th>{{ 'review-communities-globalns'|message }}</th>
    <th>{{ 'review-communities-count'|message }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td><a href="{{ urlFor( 'review_search' ) }}?cs={{ row.size|url_encode }}&ns={{ row.globalns }}&p1=1">{{ row.size }}</a></td>
    <td><a href="{{ urlFor( 'review_search' ) }}?cs={{ row.size|url_encode }}&ns={{ row.globalns }}&p1=1">{{ row.globalns }}</a></td>
    <td>{{ row.sid }}</td>
  </tr>
  {% endfor %}
</table>
{% endspaceless %}
{% endblock content %}
