{% extends "review/base.html" %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-reports'|message }}</li>
  <li>{{ 'by-country'|message }}</li>
</ol>

<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>{{ 'review-countries-country'|message }}</th>
    <th>{{ 'review-countries-region'|message }}</th>
    <th>{{ 'review-countries-count'|message }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td><a href="{{ urlFor( 'review_search' ) }}?r={{ row.country_name|url_encode }}">{{ row.country_name }}</a></td>
    <td><a href="{{ urlFor( 'review_search' ) }}?rg={{ row.region|url_encode }}">{{ row.region }}</a></td>
    <td>{{ row.sid }}</td>
  </tr>
  {% endfor %}
</table>
{% endspaceless %}
{% endblock content %}
