{% extends "review/base.html" %}

{% block content %}
{% spaceless %}
<table id="grid" class="grid">
  <tr>
    <th>{{ wgLang.message( 'review-countries-country' ) }}</th>
    <th>{{ wgLang.message( 'review-countries-region' ) }}</th>
    <th>{{ wgLang.message( 'review-countries-count' ) }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td><a href="{{ urlFor( 'review_search' ) }}?r={{ row.country_name|url_encode }}">{{ row.country_name }}</a></td>
    <td><a href="{{ urlFor( 'review_search' ) }}?rg={{ row.region|url_encode }}">{{ row.region }}</a></td>
    <td>{{ row.sid }}</td>
  </tr>
  {% endfor %}
</table>
{% endspaceless %}
{% endblock content %}
