{% extends "review/base.html" %}

{% block content %}
{% spaceless %}
{% set route = app.router.getCurrentRoute.getName %}
<div id="form-container" class="fourteen columns">
  <ul class="sublinks">
    <li><a href="{{ urlFor( route ) }}?apps=all">All applications</a></li>
    <li><a href="{{ urlFor( route ) }}?apps=unreviewed">All unreviewed</a></li>
    <li><a href="{{ urlFor( route ) }}?apps=myapps">My unreviewed</a></li>
  </ul>
  <form method="get" action="{{ urlFor( route ) }}">
    <table class="grid" id="grid" style="width: 100%;">
      <tr>
        <th class="id">id</th>
        <th class="name">name</th>
        <th class="email">email</th>
        <th class="residence">residence</th>
        <th class="sex">sex</th>
        <th class="age">age</th>
        <th class="partial">partial</th>
        <th class="p1">p1</th>
        {% if phase == 2 %}
        <th class="p2">#p2</th>
        {% endif %}
      </tr>
      {% for row in records %}
      <tr class="{{ cycle( [ 'odd', 'even' ], loop.index ) }}">
        <td>{{ row.id }}</td>
        <td><a href="{{ siteUrl( 'review/view' ) }}?id={{ row.id }}&phase={{ phase }}">{{ row.fname }} {{ row.lname }}</a></td>
        <td>{{ row.email }}</td>
        <td>{{ row.country_name }}</td>
        <td>{{ row.sex }}</td>
        <td>{{ row.age }}</td>
        <td>{{ row.partial }}</td>
        {% if phase == 2 %}
        <td>{{ row.p1score }}</td>
        <td>{{ row.nscorers }}</td>
        {% else %}
        <td>{{ row.p1count ? row.p1score : '-' }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </form>

  <p>Page {{ params.page + 1 }} of {{ params.pages }}</p>
  <ul class="pagerlinks">
    {# FIXME: keep search/filter options from current query string #}
    {# probably need to find/create a twig function for that #}
    {% if params.page > 0 %}
    <li><a href="{{ urlFor( route ) }}?items={{ params.items }}&p={{ params.page - 1 }}" id="prev">« Previous</a></li>
    {% endif %}

    {% for i in params.left .. params.right %}
    <li class="{{ i == params.page ? 'current' }}"><a href="{{ urlFor( route ) }}?items={{ params.items }}&p={{ i }}" id="prev">{{ i + 1 }}</a></li>
    {% endfor %}

    {% if params.page + 1 < params.pages %}
    <li><a href="{{ urlFor( route ) }}?items={{ params.items }}&p={{ params.page + 1 }}" id="next">Next »</a></li>
    {% endif %}
  </ul>
</div>
{% endspaceless %}
{% endblock content %}
