{% extends "review/base.html" %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ wgLang.message( 'nav-reports' ) }}</li>
  <li>{{ wgLang.message( 'by-region' ) }}</li>
</ol>

<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>{{ wgLang.message( 'review-countries-region' ) }}</th>
    <th>{{ wgLang.message( 'review-countries-count' ) }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td><a href="{{ urlFor( 'review_search' ) }}?rg={{ row.region|url_encode }}">{{ row.region }}</a></td>
    <td>{{ row.count }}</td>
  </tr>
  {% endfor %}
</table>
{% endspaceless %}
{% endblock content %}
