{% extends "review/base.html" %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ wgLang.message( 'nav-reports' ) }}</li>
  <li>{{ wgLang.message( 'final-full' ) }}</li>
</ol>

<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>counter</th>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>residence</th>
    <th>gender</th>
    <th>age</th>
    <th># p2 scorers</th>
    <th>onwiki</th>
    <th>offwiki</th>
    <th>interest</th>
    <th>p2 score</th>
  </tr>
  {% for row in records %}
  <tr>
    <td>{{ row.id }}</td>
    <td>{{ row.id }}</td>
    <td><a href="{{  urlFor( 'review_view' ) }}?id={{ row.id }}&phase=0" target="_blank">{{ row.fname }} {{ row.lname }}</a></td>
    <td>{{ row.email }}</td>
    <td>{{ row.country_name }}</td>
    <td>{{ row.gender }}</td>
    <td>{{ row.age }}</td>
    <td>{{ row.nscorers }}</td>
    <td>{{ '%.3f'|format( row.onwiki ) }}</td>
    <td>{{ '%.3f'|format( row.offwiki ) }}</td>
    <td>{{ '%.3f'|format( row.interest ) }}</td>
    <td>{{ '%.4f'|format( row.p2score ) }}</td>
  </tr>
  {% else %}
  <tr><td colspan="12">No results found</td></tr>
  {% endfor %}
</table>
{% endspaceless %}
{% endblock content %}
