{% extends "review/base.html" %}
{% set route = app.router.getCurrentRoute.getName %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-review'|message }}</li>
  <li>{{ 'search'|message }}</li>
</ol>

<form class="form-inline" method="get" action="{{ urlFor( route ) }}" role="form">

  <input type="hidden" name="p" value="0">
  <div class="form-group">
    <label class="sr-only" for="lastname">{{ 'form-lname'|message }}</label>
    <input type="text" name="l" id="lastname" placeholder="{{ 'form-lname'|message }}" value="{{ l }}">
  </div>

  <div class="form-group">
    <label class="sr-only" for="firstname">{{ 'form-fname'|message }}</label>
    <input type="text" name="f" id="firstname" placeholder="{{ 'form-fname'|message }}" value="{{ f }}">
  </div>

  <div class="form-group">
    <label class="sr-only" for="residence">{{ 'form-residence'|message }}</label>
    <input type="text" name="r" id="residence" placeholder="{{ 'form-residence'|message }}" value="{{ r }}">
  </div>

  <div class="form-group">
    <label class="sr-only" for="region">{{ 'search-region'|message }}</label>
    <input type="text" name="rg" id="region" placeholder="{{ 'search-region'|message }}" value="{{ rg }}">
  </div>

  <div class="form-group">
    <label class="sr-only" for="community-size">{{ 'search-community-size'|message }}</label>
    <input type="text" name="cs" id="community" placeholder="{{ 'search-community-size'|message }}" value="{{ cs }}">
  </div>

  <div class="form-group">
    <label class="sr-only" for="globalns">{{ 'search-globalns'|message }}</label>
    <input type="text" name="ns" id="globalns" placeholder="{{ 'search-globalns'|message }}" value="{{ ns }}">
  </div>

  <div class="form-group">
    <label class="control-label">
      <input type="checkbox" id="p1" name="p1" value="1" {{ p1 == 1 ? 'checked="checked"' }}/>&nbsp;
      {{ 'search-phase1'|message }}
    </label>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-sm btn-primary" value="{{ 'search'|message }}" />
  </div>

</form>

<p></p>

{% if found is not null %}
<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>{{ 'review-list-id'|message }}</th>
    <th>{{ 'review-list-name'|message }}</th>
    <th>{{ 'review-list-email'|message }}</th>
    <th>{{ 'review-list-residence'|message }}</th>
    <th>{{ 'review-list-gender'|message }}</th>
    <th>{{ 'review-list-age'|message }}</th>
    <th>{{ 'review-list-p1-score'|message }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td>{{ row.id }}</td>
    <td><a href="{{ urlFor( 'review_view' ) }}?id={{ row.id }}&phase=2">{{ row.fname }} {{ row.lname }}</a></td>
    <td>{{ row.email }}</td>
    <td>{{ row.country_name }}</td>
    <td>{{ row.gender }}</td>
    <td>{{ row.age }}</td>
    <td>{{ row.p1count ? row.p1score : '-' }}</td>
  </tr>
  {% else %}
  <tr><td colspan="8">{{ 'no-results'|message }}</td></tr>
  {% endfor %}
</table>

<div class="row">
  <div class="col-md-3">
    <p class="text-right">{{ 'page-of-pages'|message( p + 1, pages ) }}</p>
  </div>
  <div class="col-md-9">
      <ul class="pagination">
        {% if p > 0 %}
        <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p - 1) } ) }}" id="prev">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% if left > 0 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
        {% for i in left .. right %}
        <li class="{{ i == p ? 'active' }}"><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':i } ) }}" id="prev">{{ i + 1 }}</a></li>
        {% endfor %}
        {% if right < pages - 1 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
        {% if p + 1 < pages %}
        <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p + 1) } ) }}" >&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
  </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock content %}
