{% extends "review/base.html" %}
{% set route = app.router.getCurrentRoute.getName %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ wgLang.message( 'nav-review' ) }}</li>
  <li>{{ wgLang.message( 'search' ) }}</li>
</ol>

<form class="form-inline" method="get" action="{{ urlFor( route ) }}" role="form">
  <input type="hidden" name="p" value="0">
  <div class="form-group">
    <label class="sr-only" for="lastname">Last name</label>
    <input type="text" name="l" id="lastname" placeholder="Last name" value="{{ l }}">
  </div>
  <div class="form-group">
    <label class="sr-only" for="firstname">First name</label>
    <input type="text" name="f" id="firstname" placeholder="First name" value="{{ f }}">
  </div>
  <div class="form-group">
    <label class="sr-only" for="residence">Residence</label>
    <input type="text" name="r" id="residence" placeholder="Residence" value="{{ r }}">
  </div>
  <div class="form-group">
    <label class="sr-only" for="region">Region</label>
    <input type="text" name="rg" id="region" placeholder="Region" value="{{ rg }}">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-sm btn-primary" value="Go" />
  </div>
</form>

<p></p>

{% if found is not null %}
<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>residence</th>
    <th>gender</th>
    <th>age</th>
    <th>p1</th>
  </tr>
  {% for row in records %}
  <tr>
    <td>{{ row.id }}</td>
    <td><a href="{{ urlFor( 'review_view' ) }}?id={{ row.id }}&phase=2">{{ row.fname }} {{ row.lname }}</a></td>
    <td>{{ row.email }}</td>
    <td>{{ row.country_name }}</td>
    <td>{{ row.gender }}</td>
    <td>{{ row.age }}</td>
    <td>{{ row.p1count ? row.p1score : '-' }}</td>
  </tr>
  {% else %}
  <tr><td colspan="8">No scholarship applications found.</td></tr>
  {% endfor %}
</table>

<div class="row">
  <div class="col-md-3">
    <p class="text-right">Page {{ p + 1 }} of {{ pages }}</p>
  </div>
  <div class="col-md-9">
      <ul class="pagination">
        {% if p > 0 %}
        <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p - 1) } ) }}" id="prev">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% if left > 0 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
        {% for i in left .. right %}
        <li class="{{ i == p ? 'active' }}"><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':i } ) }}" id="prev">{{ i + 1 }}</a></li>
        {% endfor %}
        {% if right < pages - 1 %}<li class="disabled"><span>&hellip;</span></li>{% endif %}
        {% if p + 1 < pages %}
        <li><a href="{{ urlFor( route ) }}?{{ qsMerge( { 'p':(p + 1) } ) }}" >&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
  </div>
</div>
{% endif %}
{% endspaceless %}
{% endblock content %}
