{% extends "review/base.html" %}
{% import "inc/helpers.html" as helpers %}
{% set ctx = _context %}

{% set col_style = phase > 0 ? 'col-sm-6' : 'col-sm-10 col-sm-offset-1' %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ wgLang.message( 'nav-review' ) }}</li>
  <li>{{ wgLang.message( 'review' ) }}</li>
  <li>{{ id }}</li>
</ol>

{% if schol != false %}
<div class="row">
  <div class="{{ col_style }}">

    <div class="panel-group" id="application">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#contact">
            {{ wgLang.message( 'form-contact-info' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="contact" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>{{ wgLang.message( 'review-view-name' ) }}</dt>
            <dd>{{ schol.fname }} {{ schol.lname }}</dd>
            <dt>{{ wgLang.message( 'review-view-email' ) }}</dt>
            <dd><a href="mailto:{{ schol.email }}">{{ schol.email }}</a></dd>
            <dt>{{ wgLang.message( 'review-view-residence' ) }}</dt>
            <dd>{{ schol.residence_name }}</dd>
          </dl>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#personal">
            {{ wgLang.message( 'form-personalinfo' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="personal" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>{{ wgLang.message( 'review-view-haspassport' ) }}</dt>
            <dd>{{ helpers.yesNo( schol.haspassport ) }}</dd>
            <dt>{{ wgLang.message( 'review-view-nationality' ) }}</dt>
            <dd>{{ schol.country_name }}</dd>
            <dt>{{ wgLang.message( 'review-view-language' ) }}</dt>
            <dd>{{ schol.languages }}</dd>
            <dt>{{ wgLang.message( 'review-view-dateofbirth' ) }}</dt>
            <dd>
              {% if schol.dob is not empty %}
              {{ schol.dob }} ({{ helpers.yearsOld( schol.dob ) }})
              {% else %}
              {{ wgLang.message( 'review-view-not-specified' ) }}
              {% endif %}
            </dd>
            <dt>{{ wgLang.message( 'review-view-gender' ) }}</dt>
            <dd>{{ helpers.gender( ctx, schol.gender ) }}</dd>
            {% if schol.gender_other is not empty %}
            <dd>( {{ schol.gender_other }} )</dd>
            {% endif %}
            {% if schol.occupation is not empty %}
            <dt>{{ wgLang.message( 'review-view-occupation' ) }}</dt>
            <dd>{{ schol.occupation }}</dd>
            {% endif %}
            {% if schol.areaofstudy is not empty %}
            <dt>{{ wgLang.message( 'review-view-study' ) }}</dt>
            <dd>{{ schol.areaofstudy }}</dd>
            {% endif %}
          </dl>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#participation">
            {{ wgLang.message( 'form-participation' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="participation" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>{{ wgLang.message( 'review-view-username' ) }}</dt>
            <dd>
              {% if schol.username is not empty %}
              {{ schol.username }} (<a href="https://tools.wmflabs.org/quentinv57-tools/tools/sulinfo.php?username={{ schol.username|escape( 'url' ) }}" target="_blank">cross-wiki contribs</a>)
              {% else %}
              {{ wgLang.message( 'review-view-not-specified' ) }}
              {% endif %}
            </dd>
            {% if schol.alt_users is not empty %}
            <dt>{{ wgLang.message( 'review-view-alt-users' ) }}</dt>
            <dd>{{ schol.alt_users }}</dt>
            {% endif %}
            <dt>{{ wgLang.message( 'review-view-active-projects' ) }}</dt>
            {% if schol.project %}
            <dd>{{ schol.project }}</dt>
            {% endif %}
            {% if schol.project2 %}
            <dd>{{ schol.project2 }}</dt>
            {% endif %}
            {% if not(schol.project or schol.project2) %}
            <dd>{{ wgLang.message( 'review-view-not-specified' ) }}</dd>
            {% endif %}
          </dl>

          <div class="well well-sm">
            <p><strong>{{ wgLang.message( 'review-view-involvement' ) }}</strong></p>
            {% if schol.involvement is not empty %}
            <p style="white-space:pre-wrap">{{ schol.involvement }}</p>
            {% else %}
            <p>{{ wgLang.message( 'review-view-not-specified' ) }}</p>
            {% endif %}
          </div>

          <div class="well well-sm">
            <p><strong>{{ wgLang.message( 'review-view-contrib-explain' ) }}</strong></p>
            {% if schol.contribution is not empty %}
            <p style="white-space:pre-wrap">{{ schol.contribution }}</p>
            {% else %}
            <p>{{ wgLang.message( 'review-view-not-specified' ) }}</p>
            {% endif %}
          </div>

          <div class="well well-sm">
            <p><strong>{{ wgLang.message( 'review-view-experience-explain' ) }}</strong></p>
            {% if schol.experience is not empty %}
            <p style="white-space:pre-wrap">{{ schol.experience }}</p>
            {% else %}
            <p>{{ wgLang.message( 'review-view-not-specified' ) }}</p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#interest">
            {{ wgLang.message( 'form-interest' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="interest" class="panel-collapse collapse in">
        <table class="table table-condensed">
          <tr>
            <th>2005</th>
            <th>2006</th>
            <th>2007</th>
            <th>2008</th>
            <th>2009</th>
            <th>2010</th>
            <th>2011</th>
            <th>2012</th>
            <th>2013</th>
            <th>2014</th>
          </tr>
          <tr>
            {{ helpers.participation( schol.wm05 ) }}
            {{ helpers.participation( schol.wm06 ) }}
            {{ helpers.participation( schol.wm07 ) }}
            {{ helpers.participation( schol.wm08 ) }}
            {{ helpers.participation( schol.wm09 ) }}
            {{ helpers.participation( schol.wm10 ) }}
            {{ helpers.participation( schol.wm11 ) }}
            {{ helpers.participation( schol.wm12 ) }}
            {{ helpers.participation( schol.wm13 ) }}
            {{ helpers.participation( schol.wm14 ) }}
          </tr>
        </table>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>{{ wgLang.message( 'review-view-presenter' ) }}</dt>
            <dd>{{ helpers.yesNo( schol.presentation ) }}</dd>
            {% if schol.presentation %}
            <dt>{{ wgLang.message( 'review-view-presentation-topic' ) }}</dt>
            <dd>{{ schol.presentationTopic }}</dd>
            {% endif %}
            <dt>{{ wgLang.message( 'review-view-previous-scholar' ) }}</dt>
            <dd>{{ helpers.yesNo( schol.prev_scholar ) }}</dd>
          </dl>

          {% if schol.prev_scholar %}
            <div class="well well-sm">
                <p><strong>{{ wgLang.message( 'review-view-attending-goals' ) }}</strong></p>
                <p style="white-space:pre-wrap">{{ schol.goals }}</p>
            </div>
          {% endif %}

          <div class="well well-sm">
            <p><strong>{{ wgLang.message( 'review-view-enrichment' ) }}</strong></p>
            <p style="white-space:pre-wrap">{{ schol.why }}</p>
          </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#application" href="#engagement">
                    {{ wgLang.message( 'review-view-engagement' ) }}
                </a>
            </h4>
        </div>
    </div>
    <div id="engagement" class="panel-collapse collapse in">
        <table class="table table-condensed">
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option1' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage1 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option2' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage2 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option3' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage3 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option4' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage4 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option5' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage5 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option6' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage6 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option7' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage7 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option8' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage8 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option9' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage9 ) }}</td>
            </tr>
            <tr>
                <td>{{ wgLang.message( 'form-engagement-option10' ) }}</td>
                <td>{{ helpers.yesOnly( schol.engage10 ) }}</td>
            </tr>
        </table>
    </div>
</div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#agree">
            {{ wgLang.message( 'form-agree' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="agree" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal wide">
            <dt>{{ wgLang.message( 'review-view-visa' ) }}</dt>
            <dd>{{ helpers.yesNo( schol.willgetvisa ) }}</dd>
            <dt>{{ wgLang.message( 'review-view-incidentals' ) }}</dt>
            <dd>{{ helpers.yesNo( schol.willpayincidentals ) }}</dd>
            <dt>{{ wgLang.message( 'review-view-travel-conditions' ) }}</dt>
            <dd>{{ helpers.yesNo( schol.agreestotravelconditions ) }}</dd>
          </dl>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#fulldump">
            {{ wgLang.message( 'review-view-full-dump' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="fulldump" class="panel-collapse collapse">
        <div class="panel-body">
          <dl class="dl-horizontal wide">
            {% for k,v in schol %}
            <dt>{{ k }}:</dt><dd>{{ v }}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#scores">
            {{ wgLang.message( 'review-view-scorings' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="scores" class="panel-collapse collapse in">
        {% if myscorings is not empty %}
        <table class="table table-condensed">
          <tr><th>{{ wgLang.message( 'review-view-criteria' ) }}</th><th>{{ wgLang.message( 'review-view-rank' )}}</th></tr>
          {% for r in myscorings %}
          <tr><td>{{ r.criterion }}</td><td>{{ r.rank }}</td></tr>
          {% endfor %}
        </table>
        {% endif %}
        {% if reviewers is not empty %}
        <div class="panel-body">
          <dl>
            <dt>{{ wgLang.message( 'review-view-reviewers' ) }}</dt>
            <dd>
              <ul>
                {% for reviewer in reviewers %}
                <li>{{ reviewer.username }}</li>
                {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
        {% endif %}
      </div>

    </div>
  </div>

  {% if phase > 0 %}
  <div id="review-tools" class="col-sm-6">
    <div class="panel-group" data-spy="affix" data-clampedwidth="#review-tools">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#review-tools" href="#rankings">
              {{ wgLang.message( 'review-view-rankings' ) }}</a>
          </h3>
        </div>
        <div id="rankings" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="btn-group btn-group-xs btn-group-justified">
              {% if previd is not empty %}
              <a class="btn btn-default" href="{{ urlFor( 'review_view' ) }}?id={{ previd }}&phase={{ phase }}">&laquo;</a>
              {% else %}
              <span class="btn btn-default disabled">&laquo;</span>
              {% endif %}
              <a class="btn btn-default" href="{{ urlFor( 'review_view' ) }}?id={{ id }}&phase=1">{{ wgLang.message( 'phase-1' ) }}</a>
              <a class="btn btn-default" href="{{ urlFor( 'review_view' ) }}?id={{ id }}&phase=2">{{ wgLang.message( 'phase-2' ) }}</a>
              {% if nextid is not empty %}
              <a class="btn btn-default" href="{{ urlFor( 'review_view' ) }}?id={{ nextid }}&phase={{ phase }}">&raquo;</a>
              {% else %}
              <span class="btn btn-default disabled">&raquo;</span>
              {% endif %}
            </div>
            <p></p>

            <form class="form-horizontal" method="post" action="{{ urlFor( 'review_view_post' ) }}" role="form">
              <input type="hidden" name="{{ csrf_param }}" value="{{ csrf_token }}" />
              <input type="hidden" name="phase" value="{{ phase }}"/>
              <input type="hidden" name="id" value="{{ id }}"/>
              {% if phase == 1 %}
              <div class="form-group">
                <label for="valid" class="col-sm-6 control-label">{{ wgLang.message( 'review-view-valid' ) }}</label>
                <div class="col-sm-6">
                  {{ helpers.rankDropdownList( ctx, 'valid' ) }}
                </div>
              {% else %}
              <div class="form-group">
                <label for="valid" class="col-sm-6 control-label">{{ wgLang.message( 'review-view-onwiki' ) }}</label>
                <div class="col-sm-6">
                  {{ helpers.rankDropdownList( ctx, 'onwiki' ) }}
                </div>
              </div>
              <div class="form-group">
                <label for="valid" class="col-sm-6 control-label">{{ wgLang.message( 'review-view-offwiki' ) }}</label>
                <div class="col-sm-6">
                  {{ helpers.rankDropdownList( ctx, 'offwiki' ) }}
                </div>
              </div>
              <div class="form-group">
                <label for="valid" class="col-sm-6 control-label">{{ wgLang.message( 'review-view-interest' ) }}</label>
                <div class="col-sm-6">
                  {{ helpers.rankDropdownList( ctx, 'interest' ) }}
                </div>
                {% endif %}
              </div>

              <div class="form-group">
                <label for="notes" class="col-sm-2">{{ wgLang.message( 'review-view-notes' ) }}</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="notes" name="notes" rows="10">{{ schol.notes }}</textarea>
                </div>
              </div>

              <div class="col-sm-2 col-sm-offset-10">
                <input type="submit" class="btn btn-primary" id="save" name="save" value="{{ wgLang.message( 'review-view-save' ) }}" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


</div>
{% endif %}
{% endspaceless %}
{% endblock content %}
