{% extends "review/base.html" %}
{% import "inc/helpers.html" as helpers %}
{% set ctx = _context %}

{% set col_style = phase > 0 ? 'col-sm-6' : 'col-sm-10 col-sm-offset-1' %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ wgLang.message( 'nav-review' ) }}</li>
  <li>{{ wgLang.message( 'review' ) }}</li>
  <li>{{ id }}</li>
</ol>

{% if schol != false %}
<div class="row">
  <div class="{{ col_style }}">

    <div class="panel-group" id="application">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#contact">
            {{ wgLang.message( 'form-contact-info' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="contact" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Name:</dt>
            <dd>{{ schol.fname }} {{ schol.lname }}</dd>
            <dt>Email:</dt>
            <dd><a href="mailto:{{ schol.email }}">{{ schol.email }}</a></dd>
            <dt>Residence:</dt>
            <dd>{{ schol.residence_name }}</dd>
          </dl>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#personal">
            {{ wgLang.message( 'form-personalinfo' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="personal" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Has passport:</dt>
            <dd>{{ helpers.yesNo( schol.haspassport ) }}</dd>
            <dt>Citizenship:</dt>
            <dd>{{ schol.country_name }}</dd>
            <dt>Speaks:</dt>
            <dd>{{ schol.languages }}</dd>
            <dt>Date of birth:</dt>
            <dd>
              {% if schol.dob is not empty %}
              {{ schol.dob }} ({{ helpers.yearsOld( schol.dob ) }})
              {% else %}
              Not specified
              {% endif %}
            </dd>
            <dt>Gender:</dt>
            <dd>{{ helpers.gender( ctx, schol.sex ) }}</dd>
            {% if 'gender_other' in schol and schol.gender_other %}
            <dd>{{ schol.gender_other }}</dd>
            {% endif %}
            {% if schol.occupation is not empty %}
            <dt>Occupation:</dt>
            <dd>{{ schol.occupation }}</dd>
            {% endif %}
            {% if schol.areaofstudy is not empty %}
            <dt>Field of study:</dt>
            <dd>{{ schol.areaofstudy }}</dd>
            {% endif %}
          </dl>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#participation">
            {{ wgLang.message( 'form-participation' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="participation" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>User:</dt>
            <dd>
              {% if schol.username is not empty %}
              {{ schol.username }} (<a href="http://toolserver.org/~vvv/sulutil.php?user={{ schol.username|escape('url') }}" target="_blank">cross-wiki contribs</a>)
            {% else %}
            No username given
            {% endif %}
            </dd>
            <dt>Wiki(s):</dt>
            {% if schol.project %}
            <dd>{{ schol.project }}</dt>
            {% endif %}
            {% if schol.project2 %}
            <dd>{{ schol.project2 }}</dt>
            {% endif %}
            {% if schol.project3 %}
            <dd>{{ schol.project3 }}</dt>
            {% endif %}
            {% if not(schol.project or schol.project2 or schol.project3) %}
            <dd>No wiki selected</dd>
            {% endif %}
          </dl>

          <div class="well well-sm">
            <p><strong>What is your involvement with Wikimedia?</strong></p>
            {% if schol.involvement is not empty %}
            <p style="white-space:pre-wrap">{{ schol.involvement }}</p>
            {% else %}
            <p>Declined to state.</p>
            {% endif %}
          </div>

          <div class="well well-sm">
            <p><strong>What contribution have you made to free knowledge and free software?</strong></p>
            {% if schol.contribution is not empty %}
            <p style="white-space:pre-wrap">{{ schol.contribution }}</p>
            {% else %}
            <p>Declined to state.</p>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#interest">
            {{ wgLang.message( 'form-interest' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="interest" class="panel-collapse collapse in">
        <table class="table table-condensed">
          <tr>
            <th>2005</th>
            <th>2006</th>
            <th>2007</th>
            <th>2008</th>
            <th>2009</th>
            <th>2010</th>
            <th>2011</th>
            <th>2012</th>
            <th>2013</th>
          </tr>
          <tr>
            {{ helpers.participation( schol.wm05 ) }}
            {{ helpers.participation( schol.wm06 ) }}
            {{ helpers.participation( schol.wm07 ) }}
            {{ helpers.participation( schol.wm08 ) }}
            {{ helpers.participation( schol.wm09 ) }}
            {{ helpers.participation( schol.wm10 ) }}
            {{ helpers.participation( schol.wm11 ) }}
            {{ helpers.participation( schol.wm12 ) }}
            {{ helpers.participation( schol.wm13 ) }}
          </tr>
        </table>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Presentation?</dt>
            <dd>{{ helpers.yesNo( schol.presentation ) }}</dd>
            {% if schol.presentation %}
            <dt>Topic:</dt>
            <dd>{{ schol.presentationTopic }}</dd>
            {% endif %}
          </dl>
          <div class="well well-sm">
            <p><strong>Why are you interested in attending?</strong></p>
            <p style="white-space:pre-wrap">{{ schol.why }}</p>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#agree">
            {{ wgLang.message( 'form-agree' ) }}
            </a>
          </h4>
        </div>
      </div>
      <div id="agree" class="panel-collapse collapse in">
        <div class="panel-body">
          <dl class="dl-horizontal wide">
            <dt>Will get visa?</dt>
            <dd>{{ helpers.yesNo( schol.willgetvisa ) }}</dd>
            <dt>Will pay incidentals?</dt>
            <dd>{{ helpers.yesNo( schol.willpayincidentals ) }}</dd>
            <dt>Agrees to conditions?</dt>
            <dd>{{ helpers.yesNo( schol.agreestotravelconditions ) }}</dd>
          </dl>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#fulldump">
            Full dump
            </a>
          </h4>
        </div>
      </div>
      <div id="fulldump" class="panel-collapse collapse">
        <div class="panel-body">
          <dl class="dl-horizontal wide">
            {% for k,v in schol %}
            <dt>{{ k }}:</dt><dd>{{ v }}</dd>
            {% endfor %}
          </dl>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#application" href="#scores">
            Scorings
            </a>
          </h4>
        </div>
      </div>
      <div id="scores" class="panel-collapse collapse in">
        {% if myscorings is not empty %}
        <table class="table table-condensed">
          <tr><th>Criteria</th><th>Rank</th></tr>
          {% for r in myscorings %}
          <tr><td>{{ r.criterion }}</td><td>{{ r.rank }}</td></tr>
          {% endfor %}
        </table>
        {% endif %}
        {% if reviewers is not empty %}
        <div class="panel-body">
          <dl>
            <dt>Reviewers:</dt>
            <dd>
              <ul>
                {% for reviewer in reviewers %}
                <li>{{ reviewer.username }}</li>
                {% endfor %}
              </ul>
            </dd>
          </dl>
        </div>
        {% endif %}
      </div>

    </div>
  </div>

  {% if phase > 0 %}
  <div id="review-tools" class="col-sm-6">
    <div class="panel-group" data-spy="affix" data-clampedwidth="#review-tools">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#review-tools" href="#rankings">
              Rankings</a>
          </h3>
        </div>
        <div id="rankings" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="btn-group btn-group-xs btn-group-justified">
              {% if previd is not empty %}
              <a class="btn btn-default" href="{{ urlFor( 'review_view' ) }}?id={{ previd }}&phase={{ phase }}">&laquo;</a>
              {% else %}
              <span class="btn btn-default disabled">&laquo;</span>
              {% endif %}
              <a class="btn btn-default" href="{{ urlFor( 'review_view' ) }}?id={{ id }}&phase=1">Phase 1</a>
              <a class="btn btn-default" href="{{ urlFor( 'review_view' ) }}?id={{ id }}&phase=2">Phase 2</a>
              {% if nextid is not empty %}
              <a class="btn btn-default" href="{{ urlFor( 'review_view' ) }}?id={{ nextid }}&phase={{ phase }}">&raquo;</a>
              {% else %}
              <span class="btn btn-default disabled">&raquo;</span>
              {% endif %}
            </div>
            <p></p>

            <form class="form-horizontal" method="post" action="{{ urlFor( 'review_view_post' ) }}" role="form">
              <input type="hidden" name="phase" value="{{ phase }}"/>
              <input type="hidden" name="id" value="{{ id }}"/>
              {% if phase == 1 %}
              <div class="form-group">
                <label for="valid" class="col-sm-6 control-label">Valid:</label>
                <div class="col-sm-6">
                  {{ helpers.rankDropdownList( ctx, 'valid' ) }}
                </div>
              {% else %}
              <div class="form-group">
                <label for="valid" class="col-sm-6 control-label">In Wikimedia movement:</label>
                <div class="col-sm-6">
                  {{ helpers.rankDropdownList( ctx, 'onwiki' ) }}
                </div>
              </div>
              <div class="form-group">
                <label for="valid" class="col-sm-6 control-label">Outside Wikimedia movement:</label>
                <div class="col-sm-6">
                  {{ helpers.rankDropdownList( ctx, 'offwiki' ) }}
                </div>
              </div>
              <div class="form-group">
                <label for="valid" class="col-sm-6 control-label">Interest in Wikimania:</label>
                <div class="col-sm-6">
                  {{ helpers.rankDropdownList( ctx, 'interest' ) }}
                </div>
                {% endif %}
              </div>

              <div class="form-group">
                <label for="notes" class="col-sm-2">Notes:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" id="notes" name="notes" rows="10">{{ schol.notes }}</textarea>
                </div>
              </div>

              <div class="col-sm-2 col-sm-offset-10">
                <input type="submit" class="btn btn-primary" id="save" name="save" value="Save" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


</div>
{% endif %}
{% endspaceless %}
{% endblock content %}
