{% extends "admin/base.html" %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-admin'|message }}</li>
  <li>{{ 'nav-users'|message }}</li>
</ol>

<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>{{ 'admin-users-id'|message }}</th>
    <th>{{ 'admin-users-username'|message }}</th>
    <th>{{ 'admin-users-email'|message }}</th>
    <th>{{ 'admin-users-reviewer'|message }}</th>
    <th>{{ 'admin-users-valid'|message }}</th>
    <th>{{ 'admin-users-admin'|message }}</th>
    <th>{{ 'admin-users-blocked'|message }}</th>
  </tr>
  {% for row in records %}
  <tr class="{{ cycle( [ 'oddrow', 'evenrow' ], loop.index ) }}">
    <td>{{ row.id }}</td>
    <td><a href="{{ urlFor( 'admin_user', { 'id':row.id} ) }}">{{ row.username }}</a></td>
    <td><a href="mailto:{{ row.email|url_encode }}">{{ row.email }}</a></td>
    <td>{{ row.reviewer ? 'admin-users-yes'|message : 'admin-users-no'|message }}</td>
    <td>{{ row.isvalid ? 'admin-users-yes'|message : 'admin-users-no'|message }}</td>
    <td>{{ row.isadmin ? 'admin-users-yes'|message : 'admin-users-no'|message }}</td>
    <td>{{ row.blocked ? 'admin-users-yes'|message : 'admin-users-no'|message }}</td>
  </tr>
  {% endfor %}
</table>
{% if isadmin|default(false) %}
<p><a class="btn btn-default" href="{{ urlFor( 'admin_user', { 'id':'new' } ) }}">{{ 'admin-users-add'|message }}</a></p>
{% endif %}
{% endspaceless %}
{% endblock content %}
