{% extends "admin/base.html" %}

{% set errors = flash.form_errors|default([]) %}
{% if flash.form_defaults|default(false) %}
{% set u = flash.form_defaults %}
{% endif %}

{% block content %}
{% spaceless %}
<form method="post" action="{{ urlFor( 'admin_user_post' ) }}">
  <input type="hidden" name="id" value="{{ id }}"/>
  <fieldset>
    <legend>Id: {{ id }}</legend>
    <ul>
      <li {{ 'username' in errors ? 'class="fieldWithErrors"' }}><label for"username">Username:</label>
        <input type="text" name="username" id="username" value="{{ u.username }}" required="required"/>
      </li>
      {% if id == 'new' %}
      <li {{ 'password' in errors ? 'class="fieldWithErrors"' }}><label for="password">Password:</label>
        <input type="text" name="password" id="password" value="{{ u.password }}" required="required"/>
      </li>
      {% endif %}
      <li {{ 'email' in errors ? 'class="fieldWithErrors"' }}><label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{ u.email }}" required="required"/>
      </li>
      <li><label for="reviewer" class="inline">Is Reviewer?:</label>
        <input type="checkbox" name="reviewer" id="reviewer" value="1" {{ u.reviewer == 1 ? 'checked="checked"' }}/>
      </li>
      <li><label for="isvalid" class="inline">Is Valid?:</label>
        <input type="checkbox" name="isvalid" id="isvalid" value="1" {{ u.isvalid == 1 ? 'checked="checked"' }}/>
      </li>
      <li><label for="isadmin" class="inline">Is Admin?:</label>
        <input type="checkbox" name="isadmin" id="isadmin" value="1" {{ u.isadmin == 1 ? 'checked="checked"' }}/>
      </li>
      <li><label for="blocked" class="inline">Blocked?:</label>
        <input type="checkbox" name="blocked" id="blocked" value="1" {{ u.blocked == 1 ? 'checked="checked"' }}/>
      </li>
    </ul>
  </fieldset>
  <input type="submit" id="save" name="save" value="Save"/>
</form>
{% endspaceless %}
{% endblock content %}

