{% extends "admin/base.html" %}

{% block content %}
{% spaceless %}
<table class="grid">
  <tr>
    <th>{{ wgLang.message( 'admin-users-id' ) }}</th>
    <th>{{ wgLang.message( 'admin-users-username' ) }}</th>
    <th>{{ wgLang.message( 'admin-users-email' ) }}</th>
    <th>{{ wgLang.message( 'admin-users-reviewer' ) }}</th>
    <th>{{ wgLang.message( 'admin-users-valid' ) }}</th>
    <th>{{ wgLang.message( 'admin-users-admin' ) }}</th>
    <th>{{ wgLang.message( 'admin-users-blocked' ) }}</th>
  </tr>
  {% for row in records %}
  <tr class="{{ cycle( [ 'oddrow', 'evenrow' ], loop.index ) }}">
    <td>{{ row.id }}</td>
    <td><a href="{{ urlFor( 'admin_user', { 'id':row.id} ) }}">{{ row.username }}</a></td>
    <td><a href="mailto:{{ row.email|url_encode }}">{{ row.email }}</a></td>
    <td>{{ row.reviewer ? {{ wgLang.message( 'admin-users-yes' ) }} : {{ wgLang.message( 'admin-users-no' ) }} }}</td>
    <td>{{ row.isvalid ? {{ wgLang.message( 'admin-users-yes' ) }} : {{ wgLang.message( 'admin-users-no' ) }} }}</td>
    <td>{{ row.isadmin ? {{ wgLang.message( 'admin-users-yes' ) }} : {{ wgLang.message( 'admin-users-no' ) }} }}</td>
    <td>{{ row.blocked ? {{ wgLang.message( 'admin-users-yes' ) }} : {{ wgLang.message( 'admin-users-no' ) }} }}</td>
  </tr>
  {% endfor %}
</table>
{% if isadmin %}
<p><a href="{{ urlFor( 'admin_user', { 'id':'new' } ) }}">{{ wgLang.message( 'admin-users-add' ) }}</a></p>
{% endif %}
{% endspaceless %}
{% endblock content %}
