{% extends "admin/base.html" %}

{% set errors = flash.form_errors|default([]) %}
{% if flash.form_defaults|default(false) %}
{% set u = flash.form_defaults %}
{% endif %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ wgLang.message( 'nav-admin' ) }}</li>
  <li><a href="{{ urlFor( 'admin_users' ) }}">{{ wgLang.message( 'nav-users' ) }}</a></li>
  <li>{{ id }}</li>
</ol>

<form class="form-horizontal" method="post" action="{{ urlFor( 'admin_user_post' ) }}">
  <input type="hidden" name="{{ csrf_param }}" value="{{ csrf_token }}" />
  <input type="hidden" name="id" value="{{ id }}"/>
  <div class="form-group">
    <label class="col-sm-2 control-label">{{ wgLang.message( 'admin-user-id') }}</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ id }}</p>
    </div>
  </div>

  <div class="form-group {{ 'username' in errors ? 'has-error' }}">
    <label for="username" class="col-sm-2 control-label">{{ wgLang.message( 'username' ) }}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" name="username" value="{{ u.username }}" required="required">
    </div>
  </div>

  {% if id == 'new' %}
  <div class="form-group {{ 'password' in errors ? 'has-error' }}">
    <label for="password" class="col-sm-2 control-label">
      {{ wgLang.message( 'password' ) }}
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="password" id="password" value="{{ u.password }}" required="required">
    </div>
  </div>
  {% endif %}

  <div class="form-group {{ 'email' in errors ? 'has-error' }}">
    <label for="email" class="col-sm-2 control-label">
      {{ wgLang.message( 'admin-user-email' ) }}
    </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="email" id="email" value="{{ u.email }}" required="required">
    </div>
  </div>
  <div class="form-group">
    <label for="reviewer" class="col-sm-2 control-label">
      {{ wgLang.message( 'admin-user-reviewer' ) }}
    </label>
    <div class="col-sm-10 checkbox">
      <input type="checkbox" name="reviewer" id="reviewer" value="1" {{ u.reviewer == 1 ? 'checked="checked"' }}>
    </div>
  </div>

  <div class="form-group">
    <label for="isvalid" class="col-sm-2 control-label">
      {{ wgLang.message( 'admin-user-valid' ) }}
    </label>
    <div class="col-sm-10 checkbox">
    <input type="checkbox" name="isvalid" id="isvalid" value="1" {{ u.isvalid == 1 ? 'checked="checked"' }}/>
    </div>
  </div>

  <div class="form-group">
    <label for="isadmin" class="col-sm-2 control-label">
      {{ wgLang.message( 'admin-user-admin' ) }}
    </label>
    <div class="col-sm-10 checkbox">
    <input type="checkbox" name="isadmin" id="isadmin" value="1" {{ u.isadmin == 1 ? 'checked="checked"' }}/>
    </div>
  </div>

  <div class="form-group">
    <label for="blocked" class="col-sm-2 control-label">
      {{ wgLang.message( 'admin-user-blocked' ) }}
    </label>
    <div class="col-sm-10 checkbox">
    <input type="checkbox" name="blocked" id="blocked" value="1" {{ u.blocked == 1 ? 'checked="checked"' }}/>
    </div>
  </div>

  <div class="col-sm-10 col-sm-offset-2">
    <input type="submit" class="btn btn-default" id="save" name="save" value="{{ wgLang.message( 'admin-user-save' ) }}"/>
  </div>
</form>
{% endspaceless %}
{% endblock content %}

