{% extends "review/base.html" %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-reports'|message }}</li>
  <li>{{ 'phase-2'|message }}</li>
</ol>

<form class="form-inline" method="get" action="{{ urlFor( 'review_p2_list' ) }}" role="form">
  <div class="form-group">

    <label for="region">Region:</label>
    <select class="form-control input-sm" name="region" id="region">
      {% for r in regionList %}
      <option value="{{ r }}" {{ r == region ? 'selected="selected"' }}>{{ r }}</option>
      {% endfor %}
    </select> &nbsp;

    <label for="globalns">Global North/South:</label>
    <select class="form-control input-sm" name="globalns" id="globalns">
      {% for r in globalnsList %}
      <option value="{{ r }}" {{ r == globalns ? 'selected="selected"' }}>{{ r }}</option>
      {% endfor %}
    </select> &nbsp;

    <label for="languageGroup">Language Group:</label>
    <select class="form-control input-sm" name="languageGroup" id="languageGroup">
      {% for r in languageGroupList %}
      <option value="{{ r }}" {{ r == languageGroup ? 'selected="selected"' }}>{{ r }}</option>
      {% endfor %}
    </select> &nbsp;

  </div>

  <div class="checkbox">
    <label for="export">
      <input type="checkbox" name="export" id="export" value="1"/>
      {{ 'review-list-export-csv'|message }}</label>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-sm btn-default" value="Go" />
  </div>
</form>

<p></p>

<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>{{ 'review-list-counter'|message }}</th>
    <th>{{ 'review-list-id'|message }}</th>
    <th>{{ 'review-list-name'|message }}</th>
    <th>{{ 'review-list-email'|message }}</th>
    <th>{{ 'review-list-residence'|message }}</th>
    <th>{{ 'review-list-gender'|message }}</th>
    <th>{{ 'review-list-age'|message }}</th>
    <th>{{ 'review-list-num-p2'|message }}</th>
    <th>{{ 'review-list-relexp'|message }}</th>
    <th>{{ 'review-list-expshare'|message }}</th>
    <th>{{ 'review-list-p2-score'|message }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ row.id }}</td>
    <td><a href="{{ urlFor( 'review_view' ) }}?id={{ row.id }}&phase=2" target="_blank">{{ row.fname }} {{ row.lname }}</a></td>
    <td>{{ row.email }}</td>
    <td>{{ row.country_name }}</td>
    <td>{{ row.gender }}</td>
    <td>{{ row.age }}</td>
    <td>{{ row.nscorers }}</td>
    <td>{{ '%.3f'|format( row.relexp ) }}</td>
    <td>{{ '%.3f'|format( row.expshare ) }}</td>
    <td>{{ '%.4f'|format( row.p2score ) }}</td>
  </tr>
  {% else %}
  <tr><td colspan="12">{{ 'no-results'|message }}</td></tr>
  {% endfor %}
</table>
{% endspaceless %}
{% endblock content %}
