{#-
Expected context variables:
mock: is app in mock mode?
registration_open: is the registration period open?
registration_closed: is the registration period closed?
app: Application
values: user input/default values
countries: array of country names
wgLang: Lang
lang: currently selected display language
-#}

{% extends "base.html" %}
{% import "forms.html" as forms %}
{% set ctx = _context %}

{% block content %}
{% spaceless %}
{% if mock %}
<div id="app-mock"><p>
    {{ wgLang.message( 'mock' )|raw }}
</p></div>
{% endif %}

{% if registration_open == false %}
<p>{{ wgLang.message( 'not-open' ) }}</p>

{% elseif registration_closed == true %}
<div id="app-closed" class="fourteen columns">
  <p>{{ wgLang.message( 'deadline-passed'|raw ) }}</p>
</div>

{% else %}
{% if app.success %}
<h1>{{ wgLang.message( 'confirm-thanks' ) }}</h1>
<div id="appresponse">{{ wgLang.message( 'confirm-text' )|raw }}</div>

{% else %}
{% if app.haserrors %}
<div class="errorbox">{{ wgLang.message( 'form-error' ) }}</div>
{% endif %}

<div id="introtext">{{ wgLang.message( 'text-intro' )|raw }}</div>

<div class="faq">{{ wgLang.message( 'confirm-faq' )|raw }}</div>
<form action="{{ BASEURL }}apply" method="post">
  <label class="required">{{ wgLang.message( 'required-field' ) }}</label>
  <br/><br/>
  <input type="hidden" name="lang" id="lang" value="{{ lang }}" />

  <!-- contact information start-->
  <fieldset>
    <legend>{{ wgLang.message( 'contact-info' ) }}</legend>
    <ul id="form-contact-info" class="appform">
      {{ forms.text( ctx, 'name-first', 'fname', values['fname'], { 'required':true } ) }}
      {{ forms.text( ctx, 'name-last', 'lname', values['lname'], { 'required':true } ) }}
      {{ forms.text( ctx, 'form-email', 'email', values['email'], { 'required':true } ) }}
      {{ forms.text( ctx, 'form-telephone', 'telephone', values['telephone'] ) }}
      {{ forms.textArea( ctx, 'form-mailing-address', 'address', values['address'] ) }}
      {{ forms.countrySelect( ctx, 'form-country-residence', 'residence', values['residence'], { 'required':true } ) }}
    </ul>
  </fieldset>
  <!-- contact information end-->
  <!-- personal information start-->
  <fieldset>
    <legend>{{ wgLang.message( 'form-personalinfo' ) }}</legend>
    <ul class="appform">
      {{ forms.yesNo( ctx, 'form-haspassport', 'haspassport', values['haspassport'] ) }}
      {{ forms.countrySelect( ctx, 'form-nationality', 'nationality', values['nationality'], { 'required':true } ) }}
      {{ forms.text( ctx, 'form-airport', 'airport', values['airport'] ) }}
      {{ forms.text( ctx, 'form-language', 'languages', values['languages'] ) }}
      {{ forms.dob( ctx, 'form-dateofbirth', 'dd', 'mm', 'yy', values['dd'], values['mm'] , values['yy'] ) }}
      {{ forms.i18nSelect( ctx, 'form-gender', 'sex', { 'form-gender-male': 'm', 'form-gender-female': 'f', 'form-gender-transgender': 't', 'form-gender-unspecified': 'd' }, values['sex'], { 'required':true } ) }}
      {{ forms.text( ctx, 'form-occupation', 'occupation', values['occupation'] ) }}
      {{ forms.text( ctx, 'form-study', 'areaofstudy', values['areaofstudy'] ) }}
    </ul>
  </fieldset>
  <!-- personal information end-->
  <!-- participation start-->
  <fieldset>
    <legend>{{ wgLang.message( 'form-participation' ) }}</legend>
    <ul class="appform">
      {{ forms.text( ctx, 'form-username', 'username', values['username'] ) }}
      {{ forms.text( ctx, 'form-primary-project', 'project', values['project'] ) }}
      {{ forms.text( ctx, 'form-lang-version', 'projectlangs', values['projectlangs'] ) }}
      {{ forms.textArea( ctx, 'form-extent-explain', 'involvement', values['involvement'], { 'required':true } ) }}
      {{ forms.textArea( ctx, 'form-contrib-explain', 'contribution', values['contribution'], { 'required':true } ) }}
      {{ forms.textArea( ctx, 'form-englishability-explain', 'englishability', values['englishability'], { 'required':true } ) }}
    </ul>
  </fieldset>
  <!-- participation end-->
  <!-- interest start-->
  <fieldset>
    <legend>{{ wgLang.message( 'form-interest' ) }}</legend>
    <ul class="appform">
      {{ forms.checkboxList( ctx, 'form-attended', { 'wm05':2005, 'wm06':2006, 'wm07':2007, 'wm08':2008, 'wm09':2009, 'wm10':2010, 'wm11':2011, 'wm12':2012, 'wm13':2013 }, values ) }}
      {{ forms.yesNo( ctx, 'form-presenter', 'presentation', values['presentation'], { 'escape':false } ) }}
      {{ forms.text( ctx, 'form-presentation-topic', 'presentationTopic', values['presentationTopic'] ) }}
      {{ forms.i18nSelect( ctx, 'form-howheard', 'howheard', { 'form-howheard1':1, 'form-howheard2':2, 'form-howheard3':3, 'form-howheard4':4, 'form-howheard5':5 }, values['howheard'] ) }}
      {{ forms.textArea( ctx, 'form-enrichment', 'why', values['why'], { 'required':true } ) }}
    </ul>
  </fieldset>
  <!-- interest end-->
  <!-- partial scholarship start-->
  <fieldset>
    <legend>{{ wgLang.message( 'form-partial' ) }}</legend>
    {{ wgLang.message( 'form-partial-explain' )|raw }}
    <br />
    <ul class="appform">
      {{ forms.yesNo( ctx, 'form-wantspartial', 'wantspartial', values['wantspartial'] ) }}
      {{ forms.yesNo( ctx, 'form-canpaydiff', 'canpaydiff', values['canpaydiff'] ) }}
    </ul>
  </fieldset>
  <!-- partial scholarship end-->
  <!-- agreement form start-->
  <fieldset>
    <legend>{{ wgLang.message( 'form-agree' ) }}</legend>
    <ul class="appform">
      {{ forms.checkbox( ctx, 'form-sincere', 'sincere', values['sincere'] ) }}
      {{ forms.checkbox( ctx, 'form-visa', 'willgetvisa', values['willgetvisa'], { 'escape':false } ) }}
      {{ forms.checkbox( ctx, 'form-incidentals', 'willpayincidentals', values['willpayincidentals'] ) }}
      {{ forms.checkbox( ctx, 'form-travel-conditions', 'agreestotravelconditions', values['agreestotravelconditions'] ) }}
    </ul>
  </fieldset>
  <!-- agreement form end-->
  <!-- privacy start-->
  <fieldset>
    <!-- scholarship committee -->
    <legend>{{ wgLang.message( 'form-privacy' )  }}</legend>
    <p>{{ wgLang.message( 'form-review' )|raw }}</p>
    <ul class="appform">
      {{ forms.yesNo( ctx, 'form-chapteragree', 'chapteragree', values['chapteragree'], { 'escape':false } ) }}
    </ul>
    <p><b>{{ wgLang.message( 'form-rights-heading' ) }}</b>
      <br /><br />
      {{ wgLang.message( 'form-rights' )|raw }}
    </p>
    <ul class='appform'>
      {{ forms.text( ctx, 'form-wmfAgreeName', 'wmfAgreeName', values['wmfAgreeName'], { 'required':true } ) }}
      {{ forms.checkbox( ctx, 'form-wmfagree', 'wmfagree', values['wmfagree'] ) }}
    </ul>
  </fieldset>
  <!-- privacy end-->
  <input type="submit" id="submit" name="submit" value="{{ wgLang.message( 'form-submit-app' ) }}" />
</form>
{% endif %}
{% endif %}

<br clear="all" />
{% endspaceless %}
{% endblock content %}
