<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" xml:lang="<?= $lang ?>" lang="<?= $lang ?>"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" xml:lang="<?= $lang ?>" lang="<?= $lang ?>"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" xml:lang="<?= $lang ?>" lang="<?= $lang ?>"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" xml:lang="{{ lang }}" lang="{{ lang }}"><!--<![endif]-->
  <head>
    <meta http-equiv="Content-language" content="{{ lang }}"/>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ wgLang.message( 'header-title' ) }}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ TEMPLATEBASE }}css/base.css"/>
    <link rel="stylesheet" type="text/css" href="{{ TEMPLATEBASE }}css/skeleton.css"/>
    <link rel="stylesheet" type="text/css" href="{{ TEMPLATEBASE }}css/style.css"/>
    <link rel="shortcut icon" type="image/png" href="favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ TEMPLATEBASE }}js/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div id="langbar" class="fifteen columns">
        <ul class="langlist">
          <li><a href="{{ basepath }}?uselang=de">de</a></li>
          <li><a href="{{ basepath }}?uselang=en">en</a></li>
          <li><a href="{{ basepath }}?uselang=ja">ja</a></li>
          <li><a href="{{ basepath }}?uselang=pl">pl</a></li>
          <li><a href="{{ basepath }}?uselang=zh">zh</a></li>
          <li class="last"><a href="{{ BASEURL }}translate">{{ wgLang.message( 'help-translate' ) }}</a></li>
        </ul>
      </div>
      <h1><a id="banner" href="{{ BASEURL }}" title="Wikimania 2013"><img src="{{ TEMPLATEBASE }}images/Wikimania-2013-bannerm.png" alt="Wikimania"/></a></h1>
      {% block content %}
      <p>Your message here.</p>
      {% endblock content %}
      <div id="footer">
        <ul id="footerlinks">
          <li><a href="http://wikimania2013.wikimedia.org/wiki/Scholarships/FAQ">{{ wgLang.message( 'footer-faq' ) }}</a></li>
          <li><a href="{{ BASEURL }}credits">{{ wgLang.message( 'footer-credits' ) }}</a></li>
          <li><a href="{{ BASEURL }}privacy">{{ wgLang.message( 'footer-privacy' ) }}</a></li>
          <li class="last"><a href="{{ BASEURL }}contact">{{ wgLang.message( 'footer-contact' ) }}</a></li>
        </ul>
      </div>
    </div><!-- end container //-->
    <script src="{{ TEMPLATEBASE }}js/jquery-1.7.1.min.js"></script>
    <script src="{{ TEMPLATEBASE }}js/jquery-ui.min.js"></script>
  </body>
</html>
