{% extends "review/base.html" %}
{% set route = app.router.getCurrentRoute.getName %}

{% block content %}
{% spaceless %}
<h2>{{ title }}</h2>
<form method="get" action="{{ urlFor( route ) }}">
  <input type="hidden" name="action" value="export">
  <input type="submit" value="{{ wgLang.message( 'review-list-export' ) }}">
</form>
<p></p>
<table class="grid bordered">
  <tr>
    <th>{{ wgLang.message( 'review-list-counter' ) }}</th>
    <th>{{ wgLang.message( 'review-list-id' ) }}</th>
    <th>{{ wgLang.message( 'review-list-name' ) }}</th>
    <th>{{ wgLang.message( 'review-list-email' ) }}</th>
    <th>{{ wgLang.message( 'review-list-p1-score' ) }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ row.id }}</td>
    <td><a href="{{ siteUrl( 'review/view' ) }}?id={{ row.id }}&phase=0" target="_blank">{{ row.fname }} {{ row.lname }}</a></td>
    <td>{{ row.email }}</td>
    <td>{{ '%.4f'|format( row.p1score ) }}</td>
  </tr>
  {% endfor %}
</table>
{% endspaceless %}
{% endblock content %}
