{% extends "review/base.html" %}
{% set route = app.router.getCurrentRoute.getName %}

{% block content %}
{% spaceless %}
<ol class="breadcrumb">
  <li>{{ 'nav-reports'|message }}</li>
  <li>{{ title }}</li>
</ol>

<form class="form-inline" method="get" action="{{ urlFor( route ) }}" role="form">
  <input type="hidden" name="action" value="export">
  <div class="form-group">
    <input type="submit" class="btn btn-sm btn-default" value="{{ 'review-list-export'|message }}" />
  </div>
</form>
<p></p>
<table class="table table-striped table-hover table-condensed table-responsive">
  <tr>
    <th>{{ 'review-list-counter'|message }}</th>
    <th>{{ 'review-list-id'|message }}</th>
    <th>{{ 'review-list-name'|message }}</th>
    <th>{{ 'review-list-email'|message }}</th>
    <th>{{ 'review-list-p1-score'|message }}</th>
  </tr>
  {% for row in records %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ row.id }}</td>
    <td><a href="{{ siteUrl( 'review/view' ) }}?id={{ row.id }}&phase=0" target="_blank">{{ row.fname }} {{ row.lname }}</a></td>
    <td>{{ row.email }}</td>
    <td>{{ '%.4f'|format( row.p1score ) }}</td>
  </tr>
  {% endfor %}
</table>
{% endspaceless %}
{% endblock content %}
