{#-
Expected context variables:
mock: is app in mock mode?
registration_open: is the registration period open?
registration_closed: is the registration period closed?
app: Slim application
form: user input
countries: array of country names
communities: array of language communities
lang: currently selected display language

-#}

{% extends "base.html" %}
{% import "inc/forms.html" as forms %}
{% set ctx = _context %}

{% block nav_li_apply %}class="active"{% endblock %}

{% block javascript %}
<script type="text/javascript">
{% include 'apply.js' %}
</script>
{% endblock javascript %}

{% block content %}
{% spaceless %}

{% if app.mock %}
<div class="alert alert-info">
  <p class="text-center lead">{{ 'mock'|message }}</p>
</div>
{% endif %}

{% if registration_open == false %}
<div class="jumbotron">
  <div class="container">
    <p>{{ 'not-open'|message|raw }}</p>
  </div>
</div>

{% elseif registration_closed == true %}
<div class="jumbotron">
  <div class="container">
    <p>{{ 'deadline-passed'|message|raw }}</p>
  </div>
</div>

{% else %}
{% if submitted %}
<h1>{{ 'confirm-thanks'|message }}</h1>
<p class="lead">{{ 'confirm-text'|message|raw }}</p>

{% else %}
{% if form.hasErrors %}
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <p class="lead">{{ 'form-error'|message }}</p>
</div>

{% for key in form.Errors %}
  {% set errorkey = 'form-' ~ key ~ '-error' %}
  <div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <p class="lead">{{ errorkey|message }}</p>
  </div>
{% endfor %}

{% endif %}

<div class="jumbotron">
  <div class="container">
    {{ 'form-intro'|message|raw }}
    <p class="text-center">{{ 'form-intro-faq'|message|raw }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
<form id="appform" action="{{ urlFor( 'apply_post' ) }}" method="post" role="form">
  <input id="token" type="hidden" name="{{ csrf_param }}" value="{{ csrf_token }}" />
  <input type="hidden" name="lang" id="lang" value="{{ lang }}" />
  <div class="form-group">
    <label class="required">{{ 'required-field'|message }}</label>
  </div>

  <fieldset>
    <legend>{{ 'form-scholarship-type'|message }}</legend>
    {{ forms.i18nSelect( ctx, 'form-scholarship', 'type', { 'form-scholarship-partial': 'partial', 'form-scholarship-full': 'full', 'form-scholarship-either': 'either' }, { 'required':true } ) }}
    {{ forms.yesNo( ctx, 'form-chapteragree', 'chapteragree', { 'escape':false }, { 'required': true } ) }}
  </fieldset>

  <fieldset>
    <legend>{{ 'form-contact-info'|message }}</legend>
    {{ forms.text( ctx, 'form-fname', 'fname', { 'required':true } ) }}
    {{ forms.text( ctx, 'form-lname', 'lname', { 'required':true } ) }}
    {{ forms.text( ctx, 'form-email', 'email', { 'required':true } ) }}
    {{ forms.countrySelect( ctx, 'form-residence', 'residence', { 'required':true } ) }}
  </fieldset>

  <fieldset>
    <legend>{{ 'form-personalinfo'|message }}</legend>
    {{ forms.yesNo( ctx, 'form-haspassport', 'haspassport' ) }}
    {{ forms.countrySelect( ctx, 'form-nationality', 'nationality', { 'required':true } ) }}
    {{ forms.text( ctx, 'form-airport', 'airport' ) }}
    {{ forms.text( ctx, 'form-language', 'languages' ) }}
    {{ forms.dob( ctx, 'form-dateofbirth', 'dd', 'mm', 'yy', { 'required':true }) }}
    {{ forms.i18nSelect( ctx, 'form-gender', 'gender', { 'form-gender-male': 'm', 'form-gender-female': 'f', 'form-gender-other': 'o', 'form-gender-unspecified': 'd' },  { 'required':true } ) }}
    {{ forms.text( ctx, 'form-gender-specify', 'gender_other' ) }}
    {{ forms.text( ctx, 'form-occupation', 'occupation' ) }}
    {{ forms.text( ctx, 'form-study', 'areaofstudy' ) }}
  </fieldset>

  <fieldset>
    <legend>{{ 'form-participation'|message }}</legend>
    {{ forms.text( ctx, 'form-username', 'username', { 'required':true } ) }}
    {{ forms.text( ctx, 'form-other-usernames', 'alt_users' ) }}
    {{ forms.wikiSelect( ctx, 'form-active-project', 'project', wikilist, { 'required':true } ) }}
    {{ forms.wikiSelect( ctx, 'form-active-project2', 'project2', wikilist ) }}
    {{ forms.communitySelect( ctx, 'form-community', 'community', { 'required':true } ) }}
    {{ forms.checkboxList( ctx, 'form-engagement', {
        'engage1': 'form-engagement-option1'|message,
        'engage2': 'form-engagement-option2'|message,
        'engage3': 'form-engagement-option3'|message,
        'engage4': 'form-engagement-option4'|message,
        'engage5': 'form-engagement-option5'|message,
        'engage6': 'form-engagement-option6'|message,
        'engage7': 'form-engagement-option7'|message,
        'engage8': 'form-engagement-option8'|message,
        'engage9': 'form-engagement-option9'|message,
        'engage10': 'form-engagement-option10'|message
      } ) }}
    {{ forms.textArea( ctx, 'form-extent-explain', 'involvement', { 'required':true } ) }}
    {{ forms.textArea( ctx, 'form-contrib-explain', 'contribution', { 'required':true, 'escape':false } ) }}
    {{ forms.textArea( ctx, 'form-collaboration-explain', 'collaboration', { 'required':true } ) }}
    {{ forms.textArea( ctx, 'form-experience-explain', 'experience', { 'required':true } ) }}
</fieldset>

  <fieldset>
    <legend>{{ 'form-interest'|message }}</legend>
    {{ forms.checkboxList( ctx, 'form-attended', { 'wm05':2005, 'wm06':2006, 'wm07':2007, 'wm08':2008, 'wm09':2009, 'wm10':2010, 'wm11':2011, 'wm12':2012, 'wm13':2013, 'wm14':2014, 'wm15':2015 } ) }}
    {{ forms.yesNo( ctx, 'form-prev-scholar', 'prev_scholar', { 'required':true } ) }}
    {{ forms.textArea( ctx, 'form-attending-goals', 'goals' ) }}
    {{ forms.yesNo( ctx, 'form-presenter', 'presentation', { 'escape':false } ) }}
    {{ forms.text( ctx, 'form-presentation-topic', 'presentationTopic' ) }}
</fieldset>

  <fieldset>
    <legend>{{ 'form-agree'|message }}</legend>
    {{ forms.checkbox( ctx, 'form-visa', 'willgetvisa', { 'required':true } ) }}
    {{ forms.checkbox( ctx, 'form-travel-conditions', 'agreestotravelconditions', { 'required':true } ) }}
    {{ forms.checkbox( ctx, 'form-travel-only', 'grantfortravelonly', { 'required':true } ) }}
    {{ forms.checkbox( ctx, 'form-friendly-space', 'agreestofriendlyspace', { 'required':true, 'escape':false } ) }}
    {{ forms.checkbox( ctx, 'form-info-true', 'infotrue', { 'required':true } ) }}
  </fieldset>

  <fieldset>
    <legend>{{ 'form-privacy'|message  }}</legend>
    <p>{{ 'form-review'|message|raw }}</p>

    <h4>{{ 'form-rights-heading'|message }}</h4>
    <p>{{ 'form-rights1'|message|raw }}</p>
    <p>{{ 'form-rights2'|message|raw }}</p>
    <p>{{ 'form-rights3'|message|raw }}</p>
    <p>{{ 'form-rights4'|message|raw }}</p>

    {{ forms.checkbox( ctx, 'form-wmfagree', 'wmfagree', { 'required':true } ) }}
    {{ forms.text( ctx, 'form-wmfAgreeName', 'wmfAgreeName', { 'required':true } ) }}
    {{ forms.text( ctx, 'form-wmfAgreeGuardian', 'wmfAgreeGuardian' ) }}
  </fieldset>

  <input type="submit" class="btn btn-primary" id="submit" name="submit" value="{{ 'form-submit-app'|message }}" />
</form>
</div>
</div>
{% endif %}
{% endif %}

{% endspaceless %}
{% endblock content %}
