{% set lang = i18nCtx.getCurrentLanguage %}
{% set page = null %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ lang }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{ lang }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{ lang }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ lang }}"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-language" content="{{ lang }}"/>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ 'header-title'|message }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="{{ siteUrl( 'favicon.ico' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ siteUrl( 'css/vendor/bootstrap.css' ) }}">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl( 'css/main.css' ) }}">
    {% block css %}{% endblock css %}
    <script type="text/javascript" src="{{ siteUrl( 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' ) }}"></script>
  </head>
  <body>
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ urlFor( 'home') }}" title="{{ 'header-title'|message }}"><img src="{{ siteUrl( 'images/brand.png' ) }}" width="32" height="36" alt="{{ 'wikimania'|message }}"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% block navbar %}
            <li {% block nav_li_apply %}{% endblock %}><a href="{{ urlFor( 'apply' ) }}">{{ 'nav-apply'|message }}</a></li>
            <li><a href="//wikimania2017.wikimedia.org/wiki/Special:MyLanguage/Scholarships/FAQ">{{ 'nav-faq'|message }}</a></li>
            <li {% block nav_li_credits %}{% endblock %}><a href="{{ urlFor( 'credits' ) }}">{{ 'nav-credits'|message }}</a></li>
            <li {% block nav_li_privacy %}{% endblock %}><a href="{{ urlFor( 'privacy' ) }}">{{ 'nav-privacy'|message }}</a></li>
            <li {% block nav_li_contact %}{% endblock %}><a href="{{ urlFor( 'contact' ) }}">{{ 'nav-contact'|message }}</a></li>
            <li {% block nav_li_translate %}{% endblock %}><a href="{{ urlFor( 'translate' ) }}">{{ 'help-translate'|message }}</a></li>
            {% endblock navbar %}
          </ul>
          <div class="navbar-right navbar-text form-inline">
            {% if i18nCtx.getAvailableLanguages|length > 1 %}
            <span class="langlabel">{{ 'nav-language'|message }}</span>
            <ul class="langlist footer-links">
              {% for l in i18nCtx.getAvailableLanguages %}
              <li class="{{ loop.last ? 'last' }}"><a href="{{ app.request.getPath }}?uselang={{ l }}" {{ l == lang ? 'class="selected"' }}>{{ l }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          </ul>
        </div>
      </div>
    </header>

    {% block banner %}
    <div class="jumbotron site-banner">
      <div class="container text-center">
        <img src="{{ siteUrl( 'images/logo.png' ) }}" width="118" height="137" alt="{{ 'wikimania'|message }}">
        <h2>{{ 'wikimania'|message }}</h2>
        <h3>{{ 'wikimania-location-year'|message }}</h3>
      </div>
    </div>
    {% endblock banner %}

    <div class="container">
      {% block pre_content %}
      {% if flash|default(false) %}
      {% if flash.error|default(false) %}<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flash.error }}</div>{% endif %}
      {% if flash.info|default(false) %}<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{ flash.info }}</div>{% endif %}
      {% endif %}
      {% endblock pre_content %}
      {% block content %}<p>{{ app.request.getPath }}: Your message here.</p>{% endblock content %}
      {% block post_content %}{% endblock post_content %}
    </div>

    <footer class="footer" role="contentinfo">
      <div class="hr"><hr/></div>
      <div class="container text-right">
        <ul class="footer-links">
          <li><a href="http://wikimania2016.wikimedia.org/wiki/Scholarships/FAQ">{{ 'footer-faq'|message }}</a></li>
          <li><a href="{{ urlFor( 'credits' ) }}">{{ 'footer-credits'|message }}</a></li>
          <li><a href="{{ urlFor( 'privacy' ) }}">{{ 'footer-privacy'|message }}</a></li>
          <li class="last"><a href="{{ urlFor( 'contact' ) }}">{{ 'footer-contact'|message }}</a></li>
        </ul>
      </div>
    </footer>

    <script src="{{ siteUrl( 'js/vendor/jquery-1.10.2.min.js' ) }}"></script>
    <script src="{{ siteUrl( 'js/vendor/bootstrap.min.js' ) }}"></script>
    <script src="{{ siteUrl( 'js/site.js' ) }}"></script>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
