<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6 no-js" xml:lang="{{ lang }}" lang="{{ lang }}"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7 no-js" xml:lang="{{ lang }}" lang="{{ lang }}"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8 no-js" xml:lang="{{ lang }}" lang="{{ lang }}"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" xml:lang="{{ lang }}" lang="{{ lang }}"><!--<![endif]-->
  <head>
    <meta http-equiv="Content-language" content="{{ lang }}"/>
    <meta charset="utf-8"/>
    <title>{% block title %}{{ wgLang.message( 'header-title' ) }}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ siteUrl( 'favicon.ico' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ siteUrl( 'css/base.css' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ siteUrl( 'css/skeleton.css' ) }}"/>
    <link rel="stylesheet" type="text/css" href="{{ siteUrl( 'css/style.css' ) }}"/>
    {% block css %}{% endblock css %}
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ siteUrl( 'js/html5.js' ) }}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div id="langbar" class="fifteen columns">
        <ul class="langlist">
          {# FIXME: generate from wgLang #}
          <li><a href="{{ app.request.getPath }}?uselang=de">de</a></li>
          <li><a href="{{ app.request.getPath }}?uselang=en">en</a></li>
          <li><a href="{{ app.request.getPath }}?uselang=ja">ja</a></li>
          <li><a href="{{ app.request.getPath }}?uselang=pl">pl</a></li>
          <li><a href="{{ app.request.getPath }}?uselang=zh">zh</a></li>
          <li class="last"><a href="{{ urlFor( 'translate' ) }}">{{ wgLang.message( 'help-translate' ) }}</a></li>
        </ul>
      </div>
      <h1><a id="banner" href="{{ urlFor( 'home' ) }}" title="Wikimania 2013"><img src="{{ siteUrl( 'images/Wikimania-2013-bannerm.png' ) }}" alt="Wikimania"/></a></h1>
      {% block menu %}{% endblock menu %}
      {% if flash|default(false) %}
      {% if flash.error|default(false) %}<p class="error">{{ flash.error }}</p>{% endif %}
      {% if flash.info|default(false) %}<p class="info">{{ flash.info }}</p>{% endif %}
      {% endif %}
      {% block content %}<p>{{ app.request.getPath }}: Your message here.</p>{% endblock content %}
      <div id="footer">
        <ul id="footerlinks">
          <li><a href="http://wikimania2013.wikimedia.org/wiki/Scholarships/FAQ">{{ wgLang.message( 'footer-faq' ) }}</a></li>
          <li><a href="{{ urlFor( 'credits' ) }}">{{ wgLang.message( 'footer-credits' ) }}</a></li>
          <li><a href="{{ urlFor( 'privacy' ) }}">{{ wgLang.message( 'footer-privacy' ) }}</a></li>
          <li class="last"><a href="{{ urlFor( 'contact' ) }}">{{ wgLang.message( 'footer-contact' ) }}</a></li>
        </ul>
      </div>
    </div>
    {% block javascript %}{% endblock javascript %}
  </body>
</html>
