{# base template for authenticated users #}
{% extends "base.html" %}

{% block css %}{% endblock css %}

{% block banner %}{% endblock %}

{% block navbar %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'nav-review'|message }} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{{ urlFor( 'review_view' ) }}">{{ 'review'|message }}</a></li>
    <li class="divider"></li>
    <li><a href="{{ urlFor( 'review_phase1' ) }}">{{ 'phase-1'|message }}</a></li>
    <li><a href="{{ urlFor( 'review_phase2' ) }}">{{ 'phase-2'|message }}</a></li>
    <li class="divider"></li>
    <li><a href="{{ urlFor( 'review_search' ) }}">{{ 'search'|message }}</a></li>
  </ul>
</li>

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'nav-reports'|message }} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{{ urlFor( 'review_countries' ) }}">{{ 'by-country'|message }}</a></li>
    <li><a href="{{ urlFor( 'review_communities' ) }}">{{ 'by-language-group'|message }}</a></li>
    <li><a href="{{ urlFor( 'review_regions' ) }}">{{ 'by-region'|message }}</a></li>
    <li class="divider"></li>
    <li><a href="{{ urlFor( 'review_p1_success' ) }}">{{ 'phase-1-success'|message }}</a></li>
    <li><a href="{{ urlFor( 'review_p1_fail' ) }}">{{ 'phase-1-fail'|message }}</a></li>
    <li class="divider"></li>
    <li><a href="{{ urlFor( 'review_p2_list' ) }}">{{ 'phase-2'|message }}</a></li>
    {% if isadmin|default(false) %}
    <li class="divider"></li>
    <li><a href="{{ urlFor( 'review_export' ) }}">{{ 'nav-reports-export'|message }}</a></li>
    {% endif %}
  </ul>
</li>

{% if isadmin|default(false) %}
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'nav-admin'|message }} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{{ urlFor( 'admin_users' ) }}">{{ 'nav-users'|message }}</a></li>
    <li><a href="{{ urlFor( 'admin_user', { 'id':'new' } ) }}">{{ 'admin-users-add'|message }}</a></li>
    <li><a href="{{ urlFor( 'admin_settings' ) }}">{{ 'nav-settings'|message }}</a></li>
  </ul>
</li>
{% endif %}

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'nav-account'|message }} <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="{{ urlFor( 'user_changepassword' ) }}">{{ 'change-password'|message }}</a></li>
    <li><a href="{{ urlFor( 'logout' ) }}">{{ 'logout'|message }}</a></li>
  </ul>
</li>
{% endblock navbar %}

{% block post_content %}
</div>
{% endblock post_content %}
