{% extends "base.html" %}
{% import "inc/forms.html" as forms %}

{% block content %}
{% spaceless %}
<form action="{{ urlFor( 'login_post' ) }}" method="post">
  <fieldset>
    <legend>{{ wgLang.message( 'login' ) }}</legend>
    <ul>
      <li><label for="username">{{ wgLang.message( 'username' ) }}</label> <input type="text" id="username" name="username" required="required" autofocus="autofocus"/></li>
      <li><label for="password">{{ wgLang.message( 'password' ) }}</label> <input type="password" id="password" name="password" required="required" /></li>
    </ul>
  </fieldset>
  <p><input type="submit" value="Log in" />
</form>
{% endspaceless %}
{% endblock content %}
