{% extends "base.html" %}

{% block nav_li_privacy %}class="active"{% endblock %}

{% block content %}
{% spaceless %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>{{ 'form-privacy'|message }}</h2>
    <p>{{ 'privacy-page-1'|message|raw }}</p>
    <p>{{ 'privacy-page-2'|message|raw }}</p>
    <p>{{ 'privacy-page-3'|message|raw }}</p>
    <p>{{ 'privacy-page-4'|message|raw }}</p>
    <p>{{ 'privacy-page-5'|message|raw }}</p>
  </div>
</div>
{% endspaceless %}
{% endblock content %}
