{% extends "user/base.html" %}

{% block content %}
{% spaceless %}
<form action="{{ urlFor( 'user_changepassword_post' ) }}" method="post">
  <input type="hidden" name="id" value="{{ user.id }}" />
  <fieldset>
    <legend>{{ wgLang.message( 'change-password' ) }}</legend>
    <p>{{ wgLang.message( 'password-username', [ user.username ] ) }}</p>
    <ul>
      <li><label for="oldpw">{{ wgLang.message( 'old-password' ) }}</label>
        <input type="password" name="oldpw" id="oldpw" value="" required="required"/>
      </li>
      <li><label for="newpw1">{{ wgLang.message( 'new-password' ) }}</label>
        <input type="password" name="newpw1" id="newpw1" value="" required="required"/>
      </li>
      <li><label for="newpw2">{{ wgLang.message( 'new-password-again' ) }}</label>
        <input type="password" name="newpw2" id="newpw2" value="" required="required"/>
      </li>
    </ul>
  </fieldset>
  <p><input type="submit" value="{{ wgLang.message( 'save-password' ) }}" />
</form>
{% endspaceless %}
{% endblock content %}
