{# base template for authenticated users #}
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ siteUrl( 'css/jquery-ui.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ siteUrl( 'css/flexigrid.css' ) }}" />
<link rel="stylesheet" type="text/css" href="{{ siteUrl( 'css/review.css' ) }}" />
{% endblock css %}

{% block pre_content %}
<div id="form-container" class="fourteen columns">
<div id="tabsnav" class="clearfix">
  <ul id="review-tabs">
    <li><a href="{{ urlFor( 'review_phase1' ) }}">Phase 1</a></li>
    <li><a href="{{ urlFor( 'review_phase2' ) }}">Phase 2</a></li>
    <li>|</li>
    <li><a href="{{ urlFor( 'review_p1_success' ) }}">Phase 1 Success List</a></li>
    <li><a href="{{ urlFor( 'review_p1_fail' ) }}">Phase 1 Fail List</a></li>
    <li><a href="{{ urlFor( 'review_p2_list' ) }}">Phase 2 List</a></li>
    {% if isadmin|default(true) %}
    {# FIXME: better auth integration #}
    <li>|</li>
    <li><a href="{{ urlFor( 'review_scores' ) }}?partial=0">Final: Full</a></li>
    <li><a href="{{ urlFor( 'review_scores' ) }}?partial=1">Final: Partial</a></li>
    {% endif %}
    <li>|</li>
    <li><a href="{{ urlFor( 'review_view' ) }}">Review</a></li>
    <li>|</li>
    <li><a href="{{ urlFor( 'review_search' ) }}">Search</a></li>
    <li><a href="{{ urlFor( 'review_countries' ) }}">By Country</a></li>
    <li><a href="{{ siteUrl( 'review/region' ) }}">By Region</a></li>
    <li>|</li>
    <li><a href="{{ urlFor( 'auth_pwchange' ) }}">change password</a></li>
    <li><a href="{{ urlFor( 'auth_logout' ) }}">logout</a></li>
  </ul>
</div>
{{ parent() }}
{% endblock pre_content %}

{% block post_content %}
</div>
{% endblock post_content %}

{% block javascript %}
<script src="{{ siteUrl( 'js/jquery-1.7.1.min.js' ) }}"></script>
<script src="{{ siteUrl( 'js/jquery-ui.min.js' ) }}"></script>
<script src="{{ siteUrl( 'js/flexigrid.js' ) }}"></script>
<script src="{{ siteUrl( 'js/flexigrid.pack.js' ) }}"></script>
<script src="{{ siteUrl( 'js/schols.js' ) }}"></script>
{% endblock javascript %}
