{% extends "base.html" %}
{% block content %}
{% spaceless %}
<form action="{{ urlFor( 'login' ) }}" method="post">
<fieldset>
  <legend>Log in</legend>
  <p class="error">{{ flash.error|default( '' ) }}</p>
  <ul>
    <li><label for="username">Username:</label> <input type="text" id="username" name="username" required /></li>
    <li><label for="password">Password:</label> <input type="password" id="password" name="password" required /></li>
  </ul>
	<p><input type="submit" value="Log in" />
	</fieldset>
	</form>
{% endspaceless %}
{% endblock content %}
